body {
  background-color: #666666;
}

h3 {
  font-size: 3rem;
  font-weight: bolder;
}

p {
  font-size: 1.9rem;
}

#all-post-it {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-block: 150px;
  margin-inline: 320px;
  font-family: "Indie Flower", cursive;
  line-height: 1.3;
}

.post-it1 {
  background-color: #fafac8;
  padding-inline: 50px;
  padding-block: 70px;
  box-shadow: inset 0px -100px 39px -61px rgba(0, 0, 0, 0.377), 4px 4px 3px 0px rgba(0, 0, 0, 0.438);
  transform: rotate(-5deg);
  z-index: 0;
  transition: all 1s;
}

.post-it1:hover {
  transform: rotate(0);
  z-index: 1;
  scale: 1.3;
}

.post-it2 {
  background-color: #b9debc;
  padding-inline: 50px;
  padding-block: 70px;
  box-shadow: inset 0px -100px 39px -61px rgba(0, 0, 0, 0.377), 4px 4px 3px 0px rgba(0, 0, 0, 0.438);
  transform: rotate(5deg);
  z-index: 0;
  transition: all 1s;
}
.post-it2:hover {
  transform: rotate(0);
  z-index: 1;
  scale: 1.3;
}

.post-it3 {
  background-color: #c7c6ee;
  padding-inline: 50px;
  padding-block: 70px;
  box-shadow: inset 0px -100px 39px -61px rgba(0, 0, 0, 0.377), 4px 4px 3px 0px rgba(0, 0, 0, 0.438);
  transform: rotate(-5deg);
  z-index: 0;
  transition: all 1s;
}
.post-it3:hover {
  transform: rotate(0);
  z-index: 1;
  scale: 1.3;
}

.post-it4 {
  background-color: #b9debc;
  padding-inline: 50px;
  padding-block: 70px;
  box-shadow: inset 0px -100px 39px -61px rgba(0, 0, 0, 0.377), 4px 4px 3px 0px rgba(0, 0, 0, 0.438);
  transform: rotate(5deg);
  z-index: 0;
  transition: all 1s;
}
.post-it4:hover {
  transform: rotate(0);
  z-index: 1;
  scale: 1.3;
}

.post-it5 {
  background-color: #fafac8;
  padding-inline: 50px;
  padding-block: 70px;
  box-shadow: inset 0px -100px 39px -61px rgba(0, 0, 0, 0.377), 4px 4px 3px 0px rgba(0, 0, 0, 0.438);
  transform: rotate(-5deg);
  z-index: 0;
  transition: all 1s;
}
.post-it5:hover {
  transform: rotate(0);
  z-index: 1;
  scale: 1.3;
}

.post-it6 {
  background-color: #c7c6ee;
  padding-inline: 50px;
  padding-block: 70px;
  box-shadow: inset 0px -100px 39px -61px rgba(0, 0, 0, 0.377), 4px 4px 3px 0px rgba(0, 0, 0, 0.438);
  transform: rotate(-8deg);
  z-index: 0;
  transition: all 1s;
}
.post-it6:hover {
  transform: rotate(0);
  z-index: 1;
  scale: 1.3;
}

.post-it7 {
  background-color: #fafac8;
  padding-inline: 50px;
  padding-block: 70px;
  box-shadow: inset 0px -100px 39px -61px rgba(0, 0, 0, 0.377), 4px 4px 3px 0px rgba(0, 0, 0, 0.438);
  transform: rotate(-5deg);
  z-index: 0;
  transition: all 1s;
}
.post-it7:hover {
  transform: rotate(0);
  z-index: 1;
  scale: 1.3;
}

.post-it8 {
  background-color: #b9debc;
  padding-inline: 50px;
  padding-block: 70px;
  box-shadow: inset 0px -100px 39px -61px rgba(0, 0, 0, 0.377), 4px 4px 3px 0px rgba(0, 0, 0, 0.438);
  transform: rotate(3deg);
  z-index: 0;
  transition: all 1s;
}
.post-it8:hover {
  transform: rotate(0);
  z-index: 1;
  scale: 1.3;
}
